body {
    font-family: Andale mono, monospace;
}

.brd {
  border: 2px solid rgb(55, 221, 71);
  border-radius: 3px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding: 8px 8px;
}
.brd:hover {
  border: 2.5px solid rgb(37, 186, 52);
  background-color: rgba(240, 255, 240, 5);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#active a {
  background-color: rgb(37, 186, 52);
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#active a:hover {
  background-color: rgb(28, 140, 39);
}

#\34 04 {
  color: #555;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

#\34 04 a {
  color: #555;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  padding: 8px 16px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#\34 04 a:hover {
  color: white;
}


.navitem {
  display: inline;
  float: left;
}

.navitem a {
  display: block;
  background-color: rgb(55, 221, 71);
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.navitem a:hover {
  background-color: rgb(37, 186, 52);
  color: white;
}
